/* You can add global styles to this file, and also import other style files */
.error{
    color: red;
    font-size: 11px;
    /* left: 0%; */
    /* width: 0px; */
    /* height: 0px; */
    margin-left: -50%;
}